.borrow-page-container {
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column; /* Stack title and buttons vertically */
  /*justify-content: center;*/
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.borrow-title {
  color: rgb(188, 30, 30);
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 60px;
  text-align: center;
  font-size: 2.5rem;
}

.borrow-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.borrow-button {
 padding: 10px 20px;
  background: rgb(142, 25, 25); /* Semi-transparent background */
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(219, 217, 217, 0.1);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(8px);
  border: 3px solid rgba(19, 19, 19, 0.3);

  color: rgb(255, 255, 255);
  text-shadow: 0px 1px 2px rgba(255, 255, 255, 0.3);
  font-weight: bold;
  padding: 20px 80px;
  text-decoration: none;
  font-size: 1.5rem;
  text-align: center;
  width: 250px;
  transition: all 0.3s ease;
}

.borrow-button:hover {
  background: rgba(169, 29, 29, 0.842);
  box-shadow: 0 4px 30px rgba(165, 9, 9, 0.2);

}